@import "~/styles/variables.scss";
@import "~/styles/layouts.scss";

.container {
  width: 100%;
  overflow-x: auto;
}

.inner {
  position: relative;
  display: flex;
  padding: 30px;

  > :not(:first-child) {
    margin-left: 20px;
  }
}
