@import "~/styles/variables.scss";
@import "~/styles/layouts.scss";

.container {
    width: 100%;
    overflow-x: auto;
    padding: 3px 3px 50px 3px;
}

.inner {
    position: relative;
    display: flex;
}
