@import "~/styles/variables.scss";
@import "~/styles/layouts.scss";
@import "../styles.scss";

.container {
  @include card;

  h3 {
    @include card-title;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 10px;
    
    button {
      @include card-button;

      // &:not(:first-child) {
      //   margin-top: 10px;
      // }

      &:hover {
        background-color: $grey-1;
        transition: all 100ms linear;
      }
    }
  }
}
