@import "~/styles/variables.scss";
@import "~/styles/layouts.scss";
@import "../styles.scss";

.container {
  @include card;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    @include card-title;
  }

  p {
    margin-top: 18px;
    color: $grey-5;
    font-size: 10px;
    text-align: center;
    white-space: pre-wrap;
    // font-weight: 500;
  }

  button {
    @include card-button;
    margin-top: 15px;
  }
}
