@import "~/styles/variables.scss";
@import "~/styles/layouts.scss";

.list-container {
  display: flex;
  flex-direction: column;
  border-top: 1px dashed $grey-6;
  height: 40vh;
}

.list-inner {
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey-6;
  }
}

.peer-container {
  color: $grey-1;
  position: relative;
  text-align: center;
  font-size: 13px;
  font-family: $family-secondary;
  border-bottom: 1px dashed $grey-6;
  padding: 5px 6px;
  background-color: #eeeeee;

  &.selected {
    background-color: $grey-3;
  }

  .title-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    font-family: $family-secondary;

    h4 {
      font-size: 11px;
      color: $grey-6;
    }

    p {
      color: $grey-6;
      font-size: 9px;
      font-weight: 500;
    }
  }
}
