@import "~/styles/variables.scss";
@import "~/styles/layouts.scss";

.container {
  padding: 0px 3px;
  border-radius: 3px;

  &.highlight {
    background-color: $yellow;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  }
}
