@import "~/styles/variables.scss";
@import "~/styles/layouts.scss";
@import "../styles.scss";

.container {
  @include card;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin-top: 18px;

  p {
    color: $grey-7;
    text-align: center;
    font-size: 10px;
  }

  &.selected {
    @include card-selected;
    background-color: $card-background-color;
  }

  &.error {
    background-color: $magenta;

    p {
      color: $grey-1;
    }

    // &.selected {
    //   background-color: $card-background-color;
    // }
  }
}
