@import "~/styles/variables.scss";
@import "~/styles/layouts.scss";
@import "~/components/card/styles.scss";

.item {
    @include card;
    min-width: 170px;
    border: 1px solid transparent;

    &.selected {
        @include card-selected;
    }
    &.interact-mode {
        background-color: $card-selected-background-color;
    }
    &.interact-mode-selectable {
        background-color: $card-background-color;
        cursor: pointer;
        border: 1px dashed #737373;
    }

    h2 {
        margin-top: 5px;
        color: $green;
        font-weight: 500;
        font-size: 11px;
        text-align: center;
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 12px;
        color: $grey-6;
        font-size: 10px;
    }

    p {
        color: $grey-1;
        text-align: center;
        font-size: 13px;
    }
}